ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.App .navbar {
    background-color: #59a9ff;
    color: #fff;
}
.App .navbar a {
    color: #fff;
    transition: all 0.2s ease;
}
.App .navbar a:hover{
    color: #cee5ff;
}

.App .navbar .navbar-brand a{
    color: yellow;
}
.App .navbar .navbar-brand a:hover {
    text-decoration: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url('./img/menu-icon.svg');
}
.compass-icon {
    background-image: url('./img/compass.svg');
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.delete-icon {
    background: url('./img/close.svg') no-repeat center;
    background-size: 15px;
    display: block;
    padding: 10px;
    transition: all 0.2s ease;
}
.delete-icon:hover {
    background-size: 18px;
}
.search-input-filter {
    display: none;
}

.list-group-item {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
.locate-btn {
    display: flex;
    align-items: center;
}

.custom-tooltip {
    position: relative;
    width: 100%;
    color: #000;
  }
  
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
   
    color: #59a9ff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
   margin-left: 10px;
    z-index: 1;
  }
  .custom-tooltip:hover {
    color: #000;
    text-decoration: none;
  }
  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
  }
 
  .btn-outline-primary:hover .button-link, .button-link:hover {
    color: #fff;
    text-decoration: none;
}
.navbar-light .navbar-toggler {
    border: 0;
    outline: 0
}
#map {
    margin-bottom: 50px;
}
/* .full-screen {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
} */
 .card {
    width: 50%;
    max-width: 600px;
    min-width: 320px;
    margin: 100px auto;

}
.aqi {
    color: #0061c9;
}
/* post page */


.post img {
    width: 100%;
}
.post .img-text img {
        float: left;
        margin-right: 1em;
        
}
.post .text-img img {
    float: right;
    margin-left: 1em;
}

.gm-style-iw-d h1 {
    font-size: 16px;
}

.gm-style-iw-d .mb-5 {
    margin-bottom: 15px!important;
}

@media only screen and (min-width: 768px) {
    .post img {
        width: 60%;
    }
    .post .mb-5 {
        margin-bottom: 5rem!important;
    }
}