ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.App .navbar {
    background-color: #59a9ff;
    color: #fff;
}
.App .navbar a {
    color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url('./img/menu-icon.svg');
}
.compass-icon {
    background-image: url('./img/compass.svg');
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.delete-icon {
    background: url('./img/close.svg') no-repeat center;
    background-size: 15px;
    display: block;
    padding: 10px;
    transition: all 0.2s ease;
}
.delete-icon:hover {
    background-size: 18px;
}
.search-input-filter {
    visibility: hidden;
}

.list-group-item {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
.locate-btn {
    display: flex;
    align-items: center;
}

.custom-tooltip {
    position: relative;
    width: 100%;
    color: #000;
  }
  
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
   
    color: #59a9ff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
   margin-left: 10px;
    z-index: 1;
  }
  .custom-tooltip:hover {
    color: #000;
    text-decoration: none;
  }
  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
  }